# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment Variables
.env
config_local.py

# User Data
resume/
data/

# Logs
logs/

# Test Files
test_*.py
mail1.py

# Operating System
.DS_Store
Thumbs.db